/*styles for process.php*/
body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f4f4f4;
    padding: 50px;
}


.container {
    max-width: 800px;
    margin: 15px auto;
    padding: 20px;
    background-color: #F7F3E9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: black;
}

form {
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

textarea, select, input[type="number"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 18px;
}

h2 {
    text-align: center;
    color: black;
}


p {
    text-align: center;
    color: #777;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
    background-color: #f2f2f2;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tr:first-child {
    background-color: white; 
}

tr:not(:first-child) {
    background-color: #F7F3E9;
}

.back-button {
    display: block;
    margin-top: 20px; 
}